.feed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 20px;
  width: 100%;
  position: relative;
}

.carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  width: 80%; /* Ajusta el ancho si es necesario */
  position: relative;
}

.carousel::-webkit-scrollbar {
  height: 2px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.carousel-button {
  background-color: #080808;
  color: #f1e3e3;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Asegura que los botones estén sobre el contenido */
}

.carousel-button-left {
  left: 10px; /* Ajusta esta distancia si es necesario */
}

.carousel-button-right {
  right: 10px; /* Ajusta esta distancia si es necesario */
}

.carousel-button:hover {
  background-color: #555;
}
